{% extends "base.html" %}

{% block content %}
    <h1>Все рецепты</h1>
    {% for recipe in recipes %}
        <div class="recipe">
            <h2>{{ recipe.name }}</h2>
            <p><strong>Страна:</strong> {{ recipe.country }}</p>
            <p><strong>Ингредиенты:</strong> {{ recipe.ingredients }}</p>
            <p><strong>Рецепт:</strong></p>
            <p>{{ recipe.recipe_text }}</p>
            <form method="POST" action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" style="margin-top: 10px;">
                <button type="submit" class="delete-button">Удалить рецепт</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}


